APP_URL=

DATABASE_URL=

NUXT_SESSION_PASSWORD=

SUPABASE_URL=your-supabase-project-url
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

IMPORT_USER_PASSWORD=

# Options: 'console' or 'nodemailer'
EMAIL_PROVIDER= 

# If using nodemailer, provide the following SMTP configuration:
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# OpenID Connect configuration for KU-AllLogin
SCOPE=
CLIENT_SECRET=
CLIENT_ID=
REDIRECT_URI=
LOGOUT_REDIRECT_URI=
USER_INFO_ENDPOINT=
AUTHORIZATION_ENDPOINT=
TOKEN_ENDPOINT=
END_SESSION_ENDPOINT=
